.skill-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    user-select: none;

    &__image {
        animation: none;

        &--active {
            animation: wave 1s;
        }
    }

    &__icon {
        width: 18px;
        height: 18px;
        fill: var(--color-primary);
    }

    & > span {
        font-size: 1.7rem;
        text-shadow: 0px 0.5rem 1rem rgba($color: #000000, $alpha: 0.6);

        @media (max-width: 700px) {
            text-shadow: 2px 0 0px var(--color-secondary);
            font-size: 1.8rem;
        }
    }
}

@keyframes wave {
    0%,
    100% {
        transform: rotateZ(0);
        transform-origin: 50% 100%;
    }
    15% {
        transform: rotate(-12deg);
    }
    30% {
        transform: rotate(12deg);
    }
    45% {
        transform: rotate(-6deg);
    }
    60% {
        transform: rotate(4deg);
    }
    75% {
        transform: rotate(-2deg);
    }
}
