.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
        height: auto;
    }
}

.about {
    width: fit-content;
    margin: 10rem auto;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__content {
        width: 40rem;

        @media (max-width: 768px) {
            order: 2;
        }
    }

    &__about {
        text-align: justify;
        margin-bottom: 6rem;

        & > p {
            font-size: 1.6rem;
            line-height: 1.5;
        }

        & > p:not(:last-child) {
            margin-bottom: 1.3rem;
        }
    }

    &__love {
        font-size: 1.6rem;
    }

    &__love-header {
        display: flex;
        align-items: center;
        gap: 6px;

        & img {
            transform: translateY(2px);
        }
    }

    &__programmer {
        width: 40rem;
        height: 40rem;
        position: relative;

        @media (max-width: 768px) {
            order: 1;
        }
    }
}
